<!DOCTYPE html>
<html ng-app="angularDouban">
    <head>
        <meta charset="utf-8">
        <title>angular-douban</title>
        <link rel="stylesheet" href="plugin/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="dist/index.css">
        <script src="plugin/jquery/dist/jquery.min.js"></script>
        <script src="plugin/angular/angular.js"></script>
        <script src="plugin/angular-route/angular-route.js"></script>
        <script src="plugin/angular-resource/angular-resource.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
    </head>
    <body>

        <!-- nav -->
        <header class="nav">
            <div class="nav-link" ng-controller="navCtrl">
                <ul>
                    <li ng-repeat="nav in navs">{{nav}}</li>
                </ul>
            </div>
            <div class="nav-btn">
                <ul>
                    <li>下载豆瓣客户端</li>
                    <li>注册</li>
                    <li>登陆</li>
                </ul>
            </div>
        </header>

        <!-- search -->
        <article class="search">
            <div class="search-box">
                <div class="search-form">
                    <div class="search-form-logo">豆瓣读书</div>
                    <div class="inp">
                        <input type="text" placeholder="书名、作者、ISBN" />
                    </div>
                    <div class="inp-btn">
                        <input type="button" />
                    </div>
                </div>
                <div class="search-tag">
                    <ul>
                        <li>分类浏览</li>
                        <li>购书单</li>
                        <li>电子图书</li>
                    </ul>
                </div>
            </div>
        </article>

        <!-- content -->
        <article class="content">
            <section class="content-main" ng-view>
                <!-- <div class="page"></div> -->
            </section>
            <aside class="content-aside" ng-controller="tagCtrl">
                <h2 class="tag">热门标签</h2>
                <dl class="item" ng-repeat="tag in tags">
                    <dt>{{tag.title}}</dt>
                    <dd ng-repeat="subtag in tag.subtags">{{subtag}}</dd>
                </dl>
            </aside>
        </article>

        <!-- footer -->
        <footer class="footer">
                © 2005－2016 douban.com, all rights reserved 模仿豆瓣仅供学习参考
        </footer>
    </body>
</html>
